main>section {
  position: relative;
  text-align: center;
}

#item_display {}

figure {
  border: 1px solid grey;
  max-width: 200px;
  display: inline-block;
  cursor: pointer;
}

figure img {
  cursor: pointer;
  display: block;
  margin: auto;
  min-width: 100%;
  width: 200px;
}

figcaption {
  background: #ccc;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
}

br {}

#report_container {
  border-top: 1px solid grey;
}

#report_container p {
  margin: .5em 0;
}